@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

.App {
  text-align: center;
}

.App , input {
  font-family: kanit;
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App, .App-logo, .App-header {
  
  background-color: rgb(247, 248, 251);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  margin-top: 5%;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}

input[type=text] , input[type=number] {
  border: 1.5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: kanit;
  font-weight: 300;
  border-radius: 15px;
}

input[type=text]:focus , input[type=number]:focus {
  border: 1.5px solid #555;
  font-family: kanit;
  font-weight: 300;
  border-radius: 15px;
}

*:focus {
  outline: none;
}

.mb-3 {
  width: 30%;
  margin-left: 35%;
  
}

h1 {
  margin: 1%;
  padding-top: 4%;
  padding-bottom: 1.5%;
}

button.btn-success {
  margin-top: 2%;
  margin-bottom: 2%;
}

span {
  display: table-cell;
  padding: 0 4px 0 6px;
}

label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
  padding-left: -5%;
}

.game, .card {
  width: 45%;
  margin-left: 27%;
}

.btn {
  border-radius: 15px;
}